**/*.iml
**/.gradle
**/local.properties
**/.DS_Store

**/build
**/captures
**/.externalNativeBuild
**/.cxx

**/.idea/*
!**/.idea/codeStyles
!**/.idea/inspectionProfiles

# Firebase
**/app/google-services.json

# Keystore
**/*.jks
**/*.keystore

# Logs
**/*.log
